.debhelper/
*.debhelper
*.debhelper.log
*.substvars
/files
/git-all/
/git-cvs/
/git-daemon-run/
/git-daemon-sysvinit/
/git-doc/
/git-email/
/git-gui/
/git-man/
/git-mediawiki/
/git-svn/
/git/
/gitk/
/gitweb/
/tmp/
